@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Banner*/
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/img/banner.jpg");
    background-size: cover;
    height: 55vh;
    overflow: hidden; 
}

#menuprincipal {
    clear: both; 
}

#banner-text{
    color: rgb(255, 255, 255);
}